@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: 'Raleway', sans-serif;
  background-color: #f5f5f5;
  font-size: 16px;
  color: #444444; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px;
  font-weight: 300; }
  @media (max-width: 768px) {
    h2 {
      font-size: 24px; } }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

a {
  color: #444444;
  text-decoration: none;
  transition: 0.2s; }

a:hover {
  color: #FF6900; }

p {
  margin: 0;
  padding: 0; }

.padding-none {
  padding: 0; }

iframe {
  width: 100%;
  height: 480px;
  margin-bottom: -6px; }

.section-inner {
  padding-top: 80px;
  max-width: 1200px; }
  @media (max-width: 768px) {
    .section-inner {
      padding-top: 20px; } }

.section-title {
  text-align: right;
  margin-bottom: 60px;
  text-transform: uppercase; }
  @media (max-width: 768px) {
    .section-title {
      margin-bottom: 20px;
      text-transform: inherit; } }

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 8px; }
  @media (max-width: 768px) {
    .pagination {
      margin-bottom: 32px; } }
  .pagination-item {
    margin: 0 8px; }
  .pagination a.active {
    background-color: #ffffff;
    padding: 8px 12px; }

.product-cart {
  background-color: #ffffff;
  border-radius: 4px;
  transition: 0.2s;
  margin-bottom: 30px;
  position: relative; }
  .product-cart:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05); }
  .product-cart a {
    text-decoration: none;
    color: #444444; }
  .product-cart__icons {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex; }
    .product-cart__icons-link {
      background-color: #f5f5f5;
      border-radius: 50px;
      padding: 5px;
      margin-left: 15px; }
  .product-cart__image {
    padding: 15px; }
    @media (max-width: 768px) {
      .product-cart__image {
        padding: 10px; } }
    .product-cart__image img {
      width: 100%; }
  .product-cart__divider {
    width: 100%;
    height: 2px;
    background-color: #f5f5f5; }
  .product-cart__detail {
    padding: 20px 15px 20px 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 768px) {
      .product-cart__detail {
        font-size: 14px;
        padding: 15px 10px 15px 10px; } }
    .product-cart__detail-left-content__product-price a {
      color: #FF6900;
      margin-top: 5px; }
    .product-cart__detail-right-content__cart a svg {
      fill: #444444;
      transition: 0.2s; }
    .product-cart__detail-right-content__cart a svg:hover {
      fill: #FF6900; }
    .product-cart__detail .product-left-content__in-category {
      font-size: 16px; }

.modal .modal-content {
  background-color: #f5f5f5 !important;
  border: none;
  border-radius: 0;
  text-align: center; }

.form__group {
  margin-bottom: 30px; }

.input-default {
  width: 100%;
  height: 50px;
  border: none;
  color: #444444;
  background-color: #ffffff;
  padding: 0 15px;
  transition: 0.2s; }
  .input-default:focus {
    outline: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05); }

.textarea-default {
  width: 100%;
  border: none;
  padding: 15px;
  color: #444444; }
  .textarea-default:focus {
    outline: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05); }

.btn-default {
  height: 50px;
  padding: 15px 25px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  transition: 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 768px) {
    .btn-default {
      width: 100%;
      margin-bottom: 32px; } }

.btn-large {
  width: 100%; }

.btn-primary {
  background-color: #444444; }
  .btn-primary:hover {
    background-color: #FF6900; }

.btn-secondary {
  background-color: #FF6900; }
  .btn-secondary:hover {
    background-color: #444444; }

.btn-outline {
  border: 3px solid #444444; }
  .btn-outline:hover {
    background-color: #444444;
    color: #ffffff; }

.btn-disabled {
  background-color: #d3d3d3;
  color: #ffffff;
  cursor: not-allowed; }
  .btn-disabled:hover {
    color: #ffffff; }

.mobile-menu__bottom {
  display: none;
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.1);
  justify-content: space-around; }
  @media (max-width: 768px) {
    .mobile-menu__bottom {
      display: flex; } }
  .mobile-menu__bottom-item {
    text-align: center;
    font-size: 12px; }

.carousel-item.active {
  text-align: center; }

.section-header {
  background-color: #ffffff; }
  .section-header .section-inner {
    padding: 0; }
  @media (max-width: 768px) {
    .section-header {
      padding: 10px;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 999; } }

.main-navigation {
  display: flex;
  align-items: center; }

.nav {
  margin-left: 50px; }
  @media (max-width: 768px) {
    .nav {
      display: none; } }

.nav-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none; }
  .nav-wrapper__item-link {
    color: #444444;
    text-decoration: none;
    transition: 0.2s;
    padding: 30px 15px;
    display: block;
    font-weight: 600; }
    .nav-wrapper__item-link:hover {
      color: #FF6900; }
  .nav-wrapper__item-dropdown {
    position: static; }
    .nav-wrapper__item-dropdown:hover .mega-menu {
      visibility: visible;
      opacity: 1; }

.mega-menu {
  background: #f9f9f9;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  z-index: 1000;
  transition: .2s; }
  .mega-menu .container {
    display: flex;
    justify-content: flex-start; }
  .mega-menu .item {
    text-align: center;
    margin: 0 30px; }
    .mega-menu .item img {
      width: 100%; }
  .mega-menu a {
    display: block;
    padding: 10px 0; }

.socials {
  margin-left: auto; }

.socials-wrapper {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none; }
  .socials-wrapper__item {
    position: relative; }
    .socials-wrapper__item + .socials-wrapper__item {
      margin-left: 20px; }
      @media (max-width: 768px) {
        .socials-wrapper__item + .socials-wrapper__item {
          margin-left: 8px; } }
    .socials-wrapper__item-info {
      position: absolute;
      left: -8px;
      top: -8px;
      color: #ffffff;
      background-color: #FF6900;
      width: 20px;
      height: 20px;
      text-align: center;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 300; }
    .socials-wrapper__item-link path {
      fill: #444444;
      transition: 0.2s; }
    .socials-wrapper__item-link:hover path {
      fill: #FF6900; }

.navright {
  margin-left: auto; }

.navright-wrapper {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none; }
  .navright-wrapper__item + .navright-wrapper__item {
    margin-left: 20px; }
  .navright-wrapper__item-link {
    color: #444444;
    text-decoration: none;
    transition: 0.2s; }
    .navright-wrapper__item-link:hover {
      color: #FF6900; }

.search {
  background-color: #f5f5f5;
  padding: 20px 0;
  display: none; }
  .search input {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 0 15px; }
  .search input:focus {
    outline: none; }
  .search button {
    float: left;
    width: 20%;
    padding: 10px;
    border: none;
    background: #FF6900;
    color: #ffffff;
    border-left: none;
    cursor: pointer;
    font-weight: 600; }
  .search button:hover {
    background-color: #444444;
    transition: 0.2s; }
  .search form {
    max-width: 500px;
    display: flex;
    margin: 0 auto; }
  .search form::after {
    content: "";
    clear: both;
    display: flex; }

@media (max-width: 768px) {
  .carousel-image {
    height: 320px; } }

.section-icon-nav {
  display: none; }
  @media (max-width: 768px) {
    .section-icon-nav {
      display: flex; } }
  .section-icon-nav__block {
    display: flex;
    justify-content: space-around;
    margin-top: -50px;
    z-index: 2; }
    .section-icon-nav__block-item {
      text-align: center;
      padding: 0 10px;
      font-size: 14px;
      background-color: #ffffff;
      z-index: 2;
      padding: 15px 10px; }
      .section-icon-nav__block-item:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px; }
      .section-icon-nav__block-item:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px; }

.section-recomended-products__tab {
  text-align: left; }
  @media (max-width: 768px) {
    .section-recomended-products__tab {
      text-align: right; } }
  .section-recomended-products__tab-header {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex; }
    @media (max-width: 768px) {
      .section-recomended-products__tab-header {
        margin-top: 15px; } }
    .section-recomended-products__tab-header__tab-trigger {
      margin-right: 30px;
      font-size: 16px;
      cursor: pointer;
      text-transform: none; }
      @media (max-width: 768px) {
        .section-recomended-products__tab-header__tab-trigger {
          margin-right: 0;
          margin-left: 15px; } }
    .section-recomended-products__tab-header .active {
      color: #FF6900; }

.section-recomended-products__tab-content {
  display: none;
  transition: 0.2s; }

.section-recomended-products__tab-content.active {
  display: flex; }

.section-recomended-products .section-title {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .section-recomended-products .section-title {
      flex-direction: column-reverse;
      align-items: flex-end; } }

.section-recomended-products__right-side-bunner {
  transition: 0.2s; }
  @media (max-width: 768px) {
    .section-recomended-products__right-side-bunner {
      display: none; } }
  .section-recomended-products__right-side-bunner a img {
    width: 100%;
    height: auto; }
  .section-recomended-products__right-side-bunner:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05); }

.section-video__item-image {
  display: flex;
  width: 100%;
  height: 285px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px; }
  @media (max-width: 768px) {
    .section-video__item-image {
      height: 115px; } }
  .section-video__item-image-icon {
    background-color: #61616160;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s; }

.section-video__item:hover .section-video__item-image-icon {
  background-color: #ffffff80; }

.section-video__item-detail {
  font-size: 18px;
  margin-top: 15px; }

@media (max-width: 768px) {
  .section-video__item {
    margin-bottom: 30px; } }

.section-review__item {
  border-radius: 4px;
  background-color: #ffffff;
  transition: 0.2s;
  margin-bottom: 30px; }
  .section-review__item-image img {
    width: 100%;
    border-radius: 4px 4px 0 0; }
  .section-review__item a:hover {
    color: inherit; }
  .section-review__item:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05); }
  .section-review__item-detail {
    padding: 30px 15px;
    font-size: 18px; }
    .section-review__item-detail__product {
      margin-top: 15px; }
      .section-review__item-detail__product-price {
        color: #FF6900; }

.section-icons__item {
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .section-icons__item {
      margin-bottom: 30px; } }
  .section-icons__item-icon {
    background-color: #FF6900;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 25px;
    padding: 20px; }
  .section-icons__item-detail {
    font-size: 14px; }
    .section-icons__item-detail h4 {
      margin-bottom: 5px; }

.section-breadcrumb {
  background-color: #444444;
  padding: 10px 0; }
  @media (max-width: 768px) {
    .section-breadcrumb {
      display: none; } }
  .section-breadcrumb .section-inner {
    padding: 0; }
  .section-breadcrumb__nav {
    padding: 0 15px;
    margin: 0;
    list-style: none;
    display: flex; }
    @media (max-width: 768px) {
      .section-breadcrumb__nav {
        margin-left: 15px; } }
    .section-breadcrumb__nav-item {
      font-size: 14px;
      font-weight: 400;
      margin-right: 15px;
      color: #ffffff; }
      @media (max-width: 768px) {
        .section-breadcrumb__nav-item {
          margin-right: 8px; } }
      .section-breadcrumb__nav-item a {
        color: #ffffff; }

.section-second-pages .section-inner {
  padding-top: 40px; }
  @media (max-width: 768px) {
    .section-second-pages .section-inner {
      padding-top: 16px; } }

.section-second-pages .section-title {
  text-align: left;
  text-transform: none;
  margin-bottom: 40px; }

.search-result__page-not-found__icon {
  margin-bottom: 40px; }
  .search-result__page-not-found__icon svg {
    width: 200px;
    height: 200px; }

@media (max-width: 768px) {
  .category-list__content {
    margin-top: 60px; } }

.category-list__categoty-nav {
  padding: 16px 0;
  display: flex;
  flex-direction: column; }
  @media (max-width: 768px) {
    .category-list__categoty-nav {
      display: none; } }
  .category-list__categoty-nav__item {
    padding: 16px 0;
    font-weight: 600;
    border-bottom: 1px solid #dddddd; }
  .category-list__categoty-nav__mobile {
    background-color: #fff;
    padding: 10px;
    height: 100vh;
    position: fixed;
    width: 100px;
    left: 0;
    margin-top: 44px;
    border-top: 1px solid #f5f5f5;
    display: none;
    overflow-y: scroll; }
    @media (max-width: 768px) {
      .category-list__categoty-nav__mobile {
        display: block; } }
    .category-list__categoty-nav__mobile-item {
      font-size: 14px;
      padding: 10px 0;
      border-bottom: 1px solid #f6f6f6; }

.category-list__categoty-sort {
  margin: 24px 0; }
  @media (max-width: 768px) {
    .category-list__categoty-sort {
      display: none; } }
  .category-list__categoty-sort__item {
    margin: 0 24px 0 0; }

.category-list__subcategories {
  margin-bottom: 16px; }
  @media (max-width: 768px) {
    .category-list__subcategories {
      margin-bottom: 0; } }
  .category-list__subcategories__item {
    font-size: 12px;
    font-weight: 400;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 16px;
    margin-bottom: 16px;
    display: inline-flex; }

.category-list__item {
  padding-bottom: 20px; }
  .category-list__item-title {
    margin-bottom: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .category-list__item-title {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 10px; }
        .category-list__item-title > * {
          margin-bottom: 16px; } }
    .category-list__item-title a {
      display: flex;
      align-items: center; }
      .category-list__item-title a svg {
        margin-left: 8px; }
    .category-list__item-title a[aria-expanded=true] svg.arrow-down {
      display: none; }
    .category-list__item-title a[aria-expanded=false] svg.arrow-up {
      display: none; }
    .category-list__item-title__sort {
      display: flex; }
      .category-list__item-title__sort > * {
        margin-left: 16px;
        font-size: 16px; }
        @media (max-width: 768px) {
          .category-list__item-title__sort > * {
            margin-left: 0;
            margin-right: 16px; } }

.login-form h2,
.sign-up__form h2 {
  margin-bottom: 40px; }

.login-form__group,
.sign-up__form__group {
  margin-bottom: 30px; }

.login-form .with-socials,
.sign-up__form .with-socials {
  display: flex;
  justify-content: center; }
  .login-form .with-socials .with-facebook,
  .sign-up__form .with-socials .with-facebook {
    margin-right: 30px; }

.product-detail__page__product-image__carousel img {
  width: 100%; }

.product-detail__page__product-image__carousel .slick-dots {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; }
  .product-detail__page__product-image__carousel .slick-dots li button {
    text-align: center;
    margin: 15px 10px;
    border-radius: 50%;
    border: none;
    color: #444444;
    background-color: #444444;
    width: 12px;
    height: 12px;
    font-size: 1px; }
  .product-detail__page__product-image__carousel .slick-dots li.slick-active button {
    color: #FF6900;
    background-color: #FF6900; }

.product-detail__page__product-detail__title h1 {
  font-weight: 700; }

.product-detail__page__product-detail__description {
  font-size: 18px;
  margin: 20px 0; }

.product-detail__page__product-detail__color {
  font-weight: 700;
  margin: 20px 0;
  font-size: 18px;
  display: flex; }
  .product-detail__page__product-detail__color-item {
    margin: 0 20px 0 0; }
    .product-detail__page__product-detail__color-item label {
      font-weight: 400; }

.product-detail__page__product-detail__memory {
  font-weight: 700;
  margin: 20px 0;
  font-size: 18px;
  display: flex; }
  .product-detail__page__product-detail__memory-item {
    margin: 0 20px 0 0; }
    .product-detail__page__product-detail__memory-item label {
      font-weight: 400; }

.product-detail__page__product-detail__instock {
  font-weight: 700;
  font-size: 18px;
  color: #FF6900; }

.product-detail__page__product-detail__action-buttons {
  margin-top: 25px; }
  .product-detail__page__product-detail__action-buttons .btn-default {
    margin-right: 30px; }

.product-detail__page__product__tab-navigation {
  background-color: #ffffff;
  margin-top: 60px;
  display: flex;
  align-items: center;
  padding: 15px; }
  @media (max-width: 768px) {
    .product-detail__page__product__tab-navigation {
      margin-top: 10px; } }
  .product-detail__page__product__tab-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; }
    .product-detail__page__product__tab-navigation ul li {
      margin-right: 30px; }
      .product-detail__page__product__tab-navigation ul li a {
        font-size: 22px;
        color: #444444;
        font-weight: 600; }

.product-detail__page__product__tab-content {
  margin-top: 30px; }
  .product-detail__page__product__tab-content__characteristics {
    display: flex; }
    .product-detail__page__product__tab-content__characteristics-mode {
      font-weight: 700;
      margin-right: 30px; }

.product-review {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  margin-bottom: 30px; }
  .product-review__avatar {
    margin-right: 30px;
    width: 90px;
    height: 90px; }
    .product-review__avatar img {
      width: 100%; }
  .product-review__review-reviewer {
    font-weight: 700;
    margin-top: 5px; }

.other-products {
  margin-top: 60px; }

.cart-header {
  font-weight: 700; }

.cart-body__item {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 30px; }
  @media (max-width: 768px) {
    .cart-body__item-title {
      margin-bottom: 8px; } }
  @media (max-width: 768px) {
    .cart-body__item-price {
      margin-bottom: 8px; } }
  @media (max-width: 768px) {
    .cart-body__item-counter {
      margin-bottom: 8px; } }
  @media (max-width: 768px) {
    .cart-body__item-allprice {
      margin-bottom: 8px; } }
  .cart-body__item-img img {
    width: 100%; }
  .cart-body__item-counter {
    display: flex; }
    .cart-body__item-counter__count {
      margin: 0 15px; }

.cart-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  @media (max-width: 768px) {
    .cart-footer {
      flex-direction: column;
      justify-content: flex-start; } }
  .cart-footer__price-pay {
    font-size: 32px;
    margin-right: 32px; }
    @media (max-width: 768px) {
      .cart-footer__price-pay {
        margin: 0; } }
  .cart-footer .btn-default {
    margin-left: 16px; }
    @media (max-width: 768px) {
      .cart-footer .btn-default {
        margin: 8px 0; } }

.compare-item {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .compare-item__head {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: bold;
    margin: 16px 0; }
    .compare-item__head img {
      width: 100%; }
  .compare-item__details {
    display: flex;
    flex-direction: column; }
    .compare-item__details > * {
      margin-bottom: 8px; }

.profile-card {
  background-color: #ffffff;
  padding: 16px;
  display: flex;
  align-items: center; }
  .profile-card__detail {
    display: flex;
    flex-direction: column;
    font-size: 20px; }

.profile__order-history {
  margin-top: 40px; }
  .profile__order-history__title {
    margin-bottom: 32px; }

.section-footer {
  background-color: #212121;
  color: #ffffff;
  margin-top: 80px; }
  @media (max-width: 768px) {
    .section-footer {
      margin-top: 10px; } }
  .section-footer h4 {
    font-weight: 700; }
  .section-footer .footer-list {
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none; }
    .section-footer .footer-list__item {
      margin-bottom: 20px; }
      .section-footer .footer-list__item a {
        color: #dddddd; }
        .section-footer .footer-list__item a:hover {
          color: #FF6900; }
  .section-footer .footer-bottom {
    display: flex;
    padding: 60px 0;
    align-self: center; }
