// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// === MIXIN ===
@mixin raleway {
    font-family: 'Raleway', sans-serif;
}
// === / MIXIN ===

// === VARIABLES ===
$base: 5px;

$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

$fs-md: 16px;
$fs-lg: 24px;

$transition: .2s;

$color-primary: #444444;
$color-secondary: #FF6900;
$color-white: #ffffff;
// === / VARIABLES ===

// === COMMON ===
body {
    @include raleway;
    background-color: #f5f5f5;
    font-size: 16px;
    color: $color-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    font-weight: 300;

    @media (max-width: 768px) {
        font-size: 24px;
    }
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

a {
    color: $color-primary;
    text-decoration: none;
    transition: $transition;
}

a:hover {
    color: $color-secondary;
}

p {
    margin: 0;
    padding: 0;
}

.padding-none {
    padding: 0;
}

iframe {
    width: 100%;
    height: 480px;
    margin-bottom: -6px;
}

.section-inner {
    padding-top: $base*16;
    max-width: 1200px;

    @media (max-width: 768px) {
        padding-top: $base*4;
    }
}

.section-title {
    text-align: right;
    margin-bottom: $base*12;
    text-transform: uppercase;

    @media (max-width: 768px) {
        margin-bottom: $base*4;
        text-transform: inherit;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 8px;

    @media (max-width: 768px) {
        margin-bottom: 32px;
    }

    &-item {
        margin: 0 8px;
    }

    & a.active {
        background-color: $color-white;
        padding: 8px 12px;
    }
}

.product-cart {
    background-color: $color-white;
    border-radius: 4px;
    transition: $transition;
    margin-bottom: $base*6;
    position: relative;

    &:hover {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    }

    & a {
        text-decoration: none;
        color: $color-primary;
    }

    &__icons {
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;

        &-link {
            background-color: #f5f5f5;
            border-radius: 50px;
            padding: 5px;
            margin-left: 15px;
        }
    }

    &__image {
        padding: $base*3;

        @media (max-width: 768px) {
            padding: $base*2;
        }

        & img {
            width: 100%;
        }
    }

    &__divider {
        width: 100%;
        height: 2px;
        background-color: #f5f5f5;
    }

    &__detail {
        padding: $base*4 $base*3 $base*4 $base*3;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            font-size: 14px;
            padding: $base*3 $base*2 $base*3 $base*2;
        }

        &-left-content {

            &__product-price a {
                color: $color-secondary;
                margin-top: $base;
            }
        }

        &-right-content {

            &__cart {

                & a {

                    & svg {
                        fill: $color-primary;
                        transition: $transition;
                    }

                    & svg:hover {
                        fill: $color-secondary;
                    }
                }
            }
        }

        .product-left-content__in-category {
            font-size: 16px;
        }
    }
}

.modal {

    & .modal-content {
        background-color: #f5f5f5 !important;
        border: none;
        border-radius: 0;
        text-align: center;
    }
}

.form__group {
    margin-bottom: $base*6;
}

.input-default {
    width: 100%;
    height: $base*10;
    border: none;
    color: $color-primary;
    background-color: $color-white;
    padding: 0 $base*3;
    transition: $transition;

    &:focus {
        outline: none;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    }
}

.textarea-default {
    width: 100%;
    border: none;
    padding: $base*3;
    color: $color-primary;

    &:focus {
        outline: none;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    }
}

.btn-default {
    height: $base*10;
    padding: $base*3 $base*5;
    border: none;
    font-size: 18px;
    font-weight: $fw-semibold;
    transition: $transition;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 32px;
    }
}

.btn-large {
    width: 100%;
}

.btn-primary {
    background-color: $color-primary;

    &:hover {
        background-color: $color-secondary;
    }
}

.btn-secondary {
    background-color: $color-secondary;

    &:hover {
        background-color: $color-primary;
    }
}

.btn-outline {
    border: 3px solid $color-primary;

    &:hover {
        background-color: $color-primary;
        color: $color-white;
    }
}

.btn-disabled {
    background-color: #d3d3d3;
    color: $color-white;
    cursor: not-allowed;

    &:hover {
        color: $color-white;
    }
}

.mobile-menu__bottom {
    display: none;
    position: fixed;
    bottom: 0;
    background-color: $color-white;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.1);
    justify-content: space-around;

    @media (max-width: 768px) {
        display: flex;
    }

    &-item {
        text-align: center;
        font-size: 12px;
    }
}

.carousel-item.active {
    text-align: center;
}

// === / COMMON ===

// === HEADER ===
.section-header {
    background-color: $color-white;

    .section-inner {
        padding: 0;
    }

    @media (max-width: 768px) {
        padding: 10px;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 999;
    }
}

.main-navigation {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: $base*10;
    
    @media (max-width: 768px) {
        display: none;
    }
}

.nav-wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {

        &-link {
            color: $color-primary;
            text-decoration: none;
            transition: $transition;
            padding: $base*6 $base*3;
            display: block;
            font-weight: 600;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    &__item-dropdown {
        position: static;

        &:hover .mega-menu {
            visibility: visible;
            opacity: 1;
        }
    }
}

.mega-menu {
	background: #f9f9f9;
  	visibility: hidden;
    opacity: 0;
  	position: absolute;
  	left: 0;
  	width: 100%;
    padding-bottom: $base*4;
    padding-top: $base*4;
    z-index: 1000;
    transition: .2s;

    .container {
        display: flex;
        justify-content: flex-start;
    }

    .item {
        text-align: center;
        margin: 0 $base*6;

        img {
            width: 100%;
        }
    }

    a {
        display: block;
  	    padding: $base*2 0;
    }
}

.socials {
    margin-left: auto;
}

.socials-wrapper {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        position: relative;

        & + & {
            margin-left: $base*4;

            @media (max-width: 768px) {
                margin-left: 8px;
            }
        }

        &-info {
            position: absolute;
            left: -8px;
            top: -8px;
            color: $color-white;
            background-color: $color-secondary;
            width: 20px;
            height: 20px;
            text-align: center;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            font-weight: $fw-light;
        }

        &-link {
            path {
                fill: $color-primary;
                transition: $transition;
            }

            &:hover {
                path {
                    fill: $color-secondary;
                }
            }

        }

    }
}

.navright {
    margin-left: auto;
}

.navright-wrapper {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        & + & {
            margin-left: $base*4;
        }

        &-link {
            color: $color-primary;
            text-decoration: none;
            transition: $transition;

            &:hover {
                color: $color-secondary;
            }
        }

    }
}

.search {
    background-color: #f5f5f5;
    padding: $base*4 0;
    display: none;

    & input {
        width: 80%;
        height: $base*10;
        border: none;
        border-radius: 4px;
        background-color: $color-white;
        padding: 0 $base*3;
    }

    & input:focus {
        outline: none;
    }

    & button {
        float: left;
        width: 20%;
        padding: $base*2;
        border: none;
        background: $color-secondary;
        color: $color-white;
        border-left: none;
        cursor: pointer;
        font-weight: 600;
    }

    & button:hover {
        background-color: $color-primary;
        transition: $transition;
    }

    & form {
        max-width: $base*100;
        display: flex;
        margin: 0 auto;
    }

    & form::after {
        content: "";
        clear: both;
        display: flex;
    }
}
// === / HEADER ===

// === HERO IMAGE ===

.carousel-image {

    @media (max-width: 768px) {
        height: 320px;
    }
}

// === / HERO IMAGE ===

// === ICON NAV ===

.section-icon-nav {
    display: none;

    @media (max-width: 768px) {
        display: flex;
    }

    &__block {
        display: flex;
        justify-content: space-around;
        margin-top: -50px;
        z-index: 2;

        &-item {
            text-align: center;
            padding: 0 10px;
            font-size: 14px;
            background-color: $color-white;
            z-index: 2;
            padding: 15px 10px;

            &:first-child {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
            
            &:last-child {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }
    }
}

// === / ICON NAV ===

// === CHOSEN PRODUCTS ===

// === / CHOSEN PRODUCTS ===

// === RECOMENDED PRODUCTS ===
.section-recomended-products {

    &__tab {
        text-align: left;

        @media (max-width: 768px) {
            text-align: right;
        }

        &-header {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;

            @media (max-width: 768px) {
                margin-top: $base*3;
            }

            &__tab-trigger {
                margin-right: $base*6;
                font-size: 16px;
                cursor: pointer;
                text-transform: none;

                @media (max-width: 768px) {
                    margin-right: 0;
                    margin-left: $base*3;
                }                
            }

            .active {
                color: $color-secondary;
            }
        }
    }

    &__tab-content {
        display: none;
        transition: $transition;
    }

    &__tab-content.active {
        display: flex;
    }

    .section-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
            align-items: flex-end;
        }
    }

    &__right-side-bunner {
        transition: $transition;

        @media (max-width: 768px) {
            display: none;
        }

        & a {
        
            & img {
                width: 100%;
                height: auto;
            }
        }

        &:hover  {
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
        }
        
    }
}
// === / RECOMENDED PRODUCTS ===

// === SECTION VIDEO ===
.section-video {

    &__item {

        &-image {
            display: flex;
            width: 100%;
            height: $base*57;
            align-items: center;
            justify-content: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 4px;

            @media (max-width: 768px) {
                height: 115px;
            }

            &-icon {
                background-color: #61616160;
                width: $base*17;
                height: $base*17;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: $transition;
            }
        }

        &:hover &-image-icon {
            background-color: #ffffff80;
        }

        &-detail {
            font-size: 18px;
            margin-top: $base*3;
        }

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }

    } 
}
// === / SECTION VIDEO ===

// === SECTION REVIEW ===
.section-review {

    &__item {
        border-radius: 4px;
        background-color: $color-white;
        transition: $transition;
        margin-bottom: $base*6;

        &-image {

            & img {
                width: 100%;
                border-radius: 4px 4px 0 0;
            }
        }

        & a:hover {
            color: inherit;
        }

        &:hover {
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
        }

        &-detail {
            padding: $base*6 $base*3;
            font-size: 18px;

            &__product {
                margin-top: $base*3;

                &-price {
                    color: $color-secondary;
                }
            }
        }
    }
}
// === / SECTION REVIEW ===

// === SECTION ICONS ===
.section-icons {

    &__item {
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }

        &-icon {
            background-color: $color-secondary;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            margin-right: $base*5;
            padding: $base*4;
        }

        &-detail {
            font-size: 14px;

            & h4 {
                margin-bottom: $base;
            }
        }
    }
}
// === / SECTION ICONS ===

// === SECTION BREADCRUMB ===
.section-breadcrumb {
    background-color: $color-primary;
    padding: 10px 0;

    @media (max-width: 768px) {
        display: none;
    }

    .section-inner {
        padding: 0;
    }

    &__nav {
        padding: 0 15px;
        margin: 0;
        list-style: none;
        display: flex;

        @media (max-width: 768px) {
            margin-left: 15px;
        }

        &-item {
            font-size: 14px;
            font-weight: 400;
            margin-right: $base*3;
            color: $color-white;

            @media (max-width: 768px) {
                margin-right: 8px;
            }

            & a {
                color: $color-white;
            }
        }
    }
}
// === / SECTION BREADCRUMB ===

// === SECTION SECOND PAGES ===
.section-second-pages {
    .section-inner {
        padding-top: $base*8;

        @media (max-width: 768px) {
            padding-top: 16px;
        }
    }

    .section-title {
        text-align: left;
        text-transform: none;
        margin-bottom: $base*8;
    }
}

.search-result__page {

    &-not-found__icon {
        margin-bottom: $base*8;
        
        & svg {
            width: $base*40;
            height: $base*40;
        }
    }
}

.category-list {

    &__content {

        @media (max-width: 768px) {
            margin-top: 60px;
        }

    }

    &__categoty-nav {
        padding: 16px 0;
        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            display: none;
        }

        &__item {
            padding: 16px 0;
            font-weight: $fw-semibold;
            border-bottom: 1px solid #dddddd;
        }

        &__mobile {
            background-color: #fff;
            padding: 10px;
            height: 100vh;
            position: fixed;
            width: 100px;
            left: 0;
            margin-top: 44px;
            border-top: 1px solid #f5f5f5;
            display: none;
            overflow-y: scroll;

            @media (max-width: 768px) {
                display: block;
            }

            &-item {
                font-size: 14px;
                padding: 10px 0;
                border-bottom: 1px solid #f6f6f6;
            }
        }
    }

    &__categoty-sort {
        margin: 24px 0;

        @media (max-width: 768px) {
            display: none;
        }

        &__item {
            margin: 0 24px 0 0;
        }
    }

    &__subcategories {
        margin-bottom: 16px;

        @media (max-width: 768px) {
            margin-bottom: 0;
        }

        &__item {
            font-size: 12px;
            font-weight: $fw-regular;
            background-color: $color-white;
            padding: 5px 10px;
            border-radius: 4px;
            margin-right: 16px;
            margin-bottom: 16px;
            display: inline-flex;
        }
    }

    &__item {
        padding-bottom: $base*4;

        &-title {
            margin-bottom: $base*6;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 768px) {
                align-items: flex-start;
                flex-direction: column;
                margin-bottom: 10px;

                & > * {
                    margin-bottom: 16px;
                }
            }

            & a {
                display: flex;
                align-items: center;

                & svg {
                    margin-left: 8px;
                }
            }

            & a[aria-expanded=true] {

                & svg.arrow-down {
                    display: none;
                }
                
            }

            & a[aria-expanded=false] {

                & svg.arrow-up {
                    display: none;
                }
                
            }

            &__sort {
                display: flex;

                & > * {
                    margin-left: 16px;
                    font-size: 16px;

                    @media (max-width: 768px) {
                        margin-left: 0;
                        margin-right: 16px;
                    }
                }
            }
        }
    }
}

.login-form,
.sign-up__form {

    & h2 {
        margin-bottom: $base*8;
    }

    &__group {
        margin-bottom: $base*6;
    }

    .with-socials {
        display: flex;
        justify-content: center;

        .with-facebook {
            margin-right: $base*6;
        }
    }
}

.product-detail__page {

    &__product {

        &-image {

            &__carousel {

                & img {
                    width: 100%;
                }

                .slick-dots {
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li button {
                        text-align: center;
                        margin: $base*3 $base*2;
                        border-radius: 50%;
                        border: none;
                        color: $color-primary;
                        background-color: $color-primary;
                        width: 12px;
                        height: 12px;
                        font-size: 1px;
                    }

                    li.slick-active button {
                        color: $color-secondary;
                        background-color: $color-secondary;
                    }
                }
            }
        }

        &-detail {

            &__title {
                
                & h1 {
                    font-weight: $fw-bold;
                }
            }

            &__description {
                font-size: $base+13;
                margin: $base*4 0;
            }

            &__color {
                font-weight: $fw-bold;
                margin: $base*4 0;
                font-size: 18px;
                display: flex;

                &-item {
                    margin: 0 $base*4 0 0;
                    
                    & label {
                        font-weight: $fw-regular;
                    }
                }
            }

            &__memory {
                font-weight: $fw-bold;
                margin: $base*4 0;
                font-size: 18px;
                display: flex;

                &-item {
                    margin: 0 $base*4 0 0;

                    & label {
                        font-weight: $fw-regular;
                    }
                }
            }

            &__instock {
                font-weight: $fw-bold;
                font-size: $base+13;
                color: $color-secondary;
            }

            &__action-buttons {
                margin-top: $base*5;

                & .btn-default {
                    margin-right: 30px;
                }
            }
        }

        &__tab-navigation {
            background-color: $color-white;
            margin-top: $base*12;
            display: flex;
            align-items: center;
            padding: $base*3;

            @media (max-width: 768px) {
                margin-top: 10px;
            }

            & ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;

                & li {
                    margin-right: 30px;

                    & a {
                        font-size: 22px;
                        color: $color-primary;
                        font-weight: 600;
                    }
                }
            }
        }

        &__tab-content {
            margin-top: $base*6;

            &__characteristics {
                display: flex;

                &-mode {
                    font-weight: 700;
                    margin-right: $base*6;
                }
            }
        }
    }
}

.product-review {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    margin-bottom: $base*6;

    &__avatar {
        margin-right: $base*6;
        width: 90px;
        height: 90px;

        & img {
            width: 100%;
        }
    }

    &__review {

        &-reviewer {
            font-weight: $fw-bold;
            margin-top: $base;
        }
    }
}

.other-products {
    margin-top: $base*12;
}

.cart {

    &-header {
        font-weight: $fw-bold;
    }

    &-body {

        &__item {
            background-color: $color-white;
            padding: 15px;
            margin-bottom: 30px;

            &-title {

                @media (max-width: 768px) {
                    margin-bottom: 8px;
                }
            }

            &-price {

                @media (max-width: 768px) {
                    margin-bottom: 8px;
                }
            }

            &-counter {

                @media (max-width: 768px) {
                    margin-bottom: 8px;
                }
            }

            &-allprice {

                @media (max-width: 768px) {
                    margin-bottom: 8px;
                }
            }

            &-img {

                & img {
                    width: 100%;
                }
            }

            &-counter {
                display: flex;

                &__count {
                    margin: 0 15px;
                }
            }
        }
    }

    &-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: flex-start;
        }

        &__price-pay {
            font-size: 32px;
            margin-right: 32px;

            @media (max-width: 768px) {
                margin: 0;
            }
        }

        .btn-default {
            margin-left: 16px;

            @media (max-width: 768px) {
                margin: 8px 0;
            }
        }
    }
}

.compare {
    
    &-item {
        display: flex;
        flex-direction: column;
        text-align: center;

        &__head {
            display: flex;
            flex-direction: column;
            font-size: 22px;
            font-weight: bold;
            margin: 16px 0;

            & img {
                width: 100%;
            }
        }

        &__details {
            display: flex;
            flex-direction: column;

            & > * {
                margin-bottom: 8px;
            }
        }
    }
}

.profile {

    &-card {
        background-color: $color-white;
        padding: 16px;
        display: flex;
        align-items: center;

        &__detail {
            display: flex;
            flex-direction: column;
            font-size: 20px;
        }
    }

    &__order-history {
        margin-top: 40px;

        &__title {
            margin-bottom: 32px;
        }
    }
}

// === / SECTION SECOND PAGES ===

// === SECTION FOOTER ===
.section-footer {
    background-color: #212121;
    color: $color-white;
    margin-top: $base*16;

    @media (max-width: 768px) {
        margin-top: 10px;
    }

    h4 {
        font-weight: 700;
    }

    .footer-list {
        padding: 0;
        margin: $base*4 0 0 0;
        list-style: none;

        &__item {
            margin-bottom: $base*4;

            & a {
                color: #dddddd;

                &:hover {
                    color: $color-secondary;
                }
            }
        }
    }

    .footer-bottom {
        display: flex;
        padding: $base*12 0;
        align-self: center;
    }
}
// === / SECTION FOOTER ===